@charset "UTF-8";

:root{
    --color-primary: #011C40;
    --color-primary-soft: #84A4BF;
    --color-primary-soft2: #B0C6D9;
    --color-secondary: #252617;
    --color-secondary-glass: #252617dd;
    --color-terciary: #8C7954;
}

.btn-primary{
    background-color: var(--color-primary);
}

html, body{
    min-height: 100vh !important;
    background-color: var(--color-primary-soft);
}

header{
    background-color: var(--color-primary-soft) !important;
}

.offcanvas{
    width: 200px;
    background-color: var(--color-primary);
    backdrop-filter: blur(20px) saturate(60%);
    color: white;
}

.nav-link{
    color: white;
    border-radius: 7px;
    padding: 8px;
}

.nav-link:hover{
    background-color: var(--color-terciary);
    color: white;
}

.dropdown-menu{
    width: 230px;
}

.dropdown-toggle::after{
    display: none !important;
}

.content{
    background-color: (var(--color-primary-soft)) !important;
}

.item-light{
    background-color: var(--color-primary-soft2);
}

footer{
    z-index: 1200;
    height: 50px;
}
.icone{
    font-size: 1.8em;
}

@media screen and (min-width: 768px){
    .offcanvas{
        width: 250px;
    }
}